= form_for @day do |f|
  - if @day.errors.any?
    #error_explanation
      %h2= "#{pluralize(@day.errors.count, "error")} prohibited this day from being saved:"
      %ul
        - @day.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :calendar
    = f.date_select :calendar
  .actions
    = f.submit 'Save'
